# Hackclub Stuff
HACKCLUB_CLIENT_ID=
HACKCLUB_CLIENT_SECRET=

HACKCLUB_PROGRAM_KEY=

HACKATIME_API_KEY=
HACKATIME_START_DATE=

CDN_URL=
CDN_KEY=

# Slack
SLACK_BOT_TOKEN=
SLACK_CLIENT_ID=
SLACK_CLIENT_SECRET=
SLACK_SIGNING_SECRET=

# Customisations
ORG_SLACK_IDS=UXXXXXXXXXX, UXXXXXXXXXX
ORG_TITLES=Organizer, Co-Organizer

CREDIT_NAME=Notches

# Site
SECRET_KEY_BASE=
RAILS_MASTER_KEY=

DISALLOWED_WORDS= []

# If on HQ OAuth
HQ=false

# Database & Cache Locations (Derived Programmatically)
DATABASE_URL=postgres://postgres:postgres@localhost:5432/metroid_mania_production
REDIS_URL=redis://localhost:6379/0
