<% content_for :title, "New devlog" %>

<h1>New devlog for <%= @project.name %></h1>
<p>For Time <%= @project.time %></p>

<%= render "form", devlog: @devlog %>

<div>
  <%= link_to "Back to project", project_path(@project) %>
</div>
