<p style="color: green"><%= notice %></p>

<%= render @devlog %>

<div>
  <%= link_to "Edit this devlog", edit_project_devlog_path(@project, @devlog) %> |
  <%= link_to "Back to project", project_path(@project) %>
</div>
