<div id="new-project">
  <% content_for :title, "New project" %>

  <h1>New project</h1>

  <div id="new-project-form">
    <%= render "form", project: @project %>
  </div>

  <br>

  <div>
    <%= link_to "Back to projects", projects_path %>
  </div>
</div>
