.charm-slot {
    display: inline-block;
    margin: 4px;
    vertical-align: middle;
}

.charm-slot img {
    vertical-align: middle;
}

.charm-slot-link {
    display: inline-block;
    border-radius: 8px;
    overflow: hidden;
    border: 2px solid transparent;
    transition: border-color 0.2s ease-in-out;
}

.charm-slot-link:hover {
    border-color: rgb(0, 123, 255, 0.3);
}

/* checkmark and submitted indicator styles */
.checkmark {
    position: relative;
    top: 0;
    color: #ffffff;
    background-color: #25b900;
    border-radius: 50%;
    padding: 2px;
    cursor: pointer;
}

.submitted-indicator {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    margin-left: 4px;
    color: #ffffff;
    background-color: #25b900;
    border-radius: 4px;
    padding: 2px 4px;
    white-space: nowrap;
    font-size: 0.75em;
}

.checkmark:hover + .submitted-indicator {
    display: inline-block;
}
