.comment-box {
    border: 1px solid var(--nb-border);
    
}

.comment-box-content {
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    flex-direction: row;
}

.comment {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 4px;
    margin-top: 12px;
}

.plus-768 {
    display: inline-flex;
}

.nb-comment {
    position: relative;
    left: 2.5%;
    width: 95%;
    padding: 4px;
}

.nb-admin-badge {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    bottom: -0.18rem;
    max-height: 1.75rem;
    width: auto;
    margin-left: 0.35rem;
}

@media (max-width: 768px) {
    .plus-768 {
        display: none;
    }
}
