/* circular level progress indicator */
#level-container {
    --size: 32px;
    --progress: 0%;
    font-family: monospace;
    font-size: 0.8em;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    background: conic-gradient(
        blue var(--progress),
        grey 0
    );
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

#level {
    background-color: white;
    border-radius: 50%;
    width: calc(var(--size) - 8px);
    height: calc(var(--size) - 8px);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-family: monospace;
    font-size: 0.8em;
}
