.product-preview {
    margin-bottom: 6px;
    max-width:132px;
    height: 60px;
    background: #f9f9f9;
    padding: 4px 8px; 
    border-radius: 4px;
    display: inline-flex; 
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease;
    border: 1px solid rgba(0,0,0,0.06);
    text-decoration: none;
    color: inherit;
}
.product-preview:hover {
    background: #c7c7c7;
}
